body {
  background-color: #efefef;
  font-family: Arial;
  color: #333;
  line-height: 1.4em;
}

main {
  width: 800px;

  background-color: #efefef;
  padding: 2rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
}

aside {
  width: 250px;
  background-color: bisque;
}

article {
  width: 800px;
}
ul {
  list-style-type: none;
}

.hide-menu {
  display: none;
}

.show-menu {
  display: block;
}

#dinamic-content {
  width: 400px;
  /* height: 200px; */

  border: 2xp solid red;
}

#dinamic-content img {
  width: 100%;

}

footer{
  width: 100%;
  background-color: aquamarine;
  line-height: 1.5em;
  font-size: 1rem;
  text-align: center;
}